.sidebar {
  display: none;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .sidebar {
    display: block;
    position: absolute;
    top: 3%;
    right: 0;
    width: 40%;
  }
  .sidebar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}
